# Pandas: grouping

In [1]:
import pandas as pd
import numpy as np

In [2]:
cars = pd.read_csv("data/vehicles.csv")

In [3]:
cars.head()

,Make,Model,Year,Engine Displacement,Cylinders,Transmission,Drivetrain,Vehicle Class,Fuel Type,Fuel Barrels/Year,City MPG,Highway MPG,Combined MPG,CO2 Emission Grams/Mile,Fuel Cost/Year
0,AM General,DJ Po Vehicle 2WD,1984,2.5,4.0,Automatic 3-spd,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,19.388824,18,17,17,522.764706,1950
1,AM General,FJ8c Post Office,1984,4.2,6.0,Automatic 3-spd,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,25.354615,13,13,13,683.615385,2550
2,AM General,Post Office DJ5 2WD,1985,2.5,4.0,Automatic 3-spd,Rear-Wheel Drive,Special Purpose Vehicle 2WD,Regular,20.600625,16,17,16,555.437500,2100
3,AM General,Post Office DJ8 2WD,1985,4.2,6.0,Automatic 3-spd,Rear-Wheel Drive,Special Purpose Vehicle 2WD,Regular,25.354615,13,13,13,683.615385,2550
4,ASC Incorporated,GNX,1987,3.8,6.0,Automatic 4-spd,Rear-Wheel Drive,Midsize Cars,Premium,20.600625,14,21,16,555.437500,2550

How many Car models?

In [4]:
print(cars["Model"].nunique())

3608

group by the data by the Make  using count function

In [5]:
cars.groupby("Make").count()

,Model,Year,Engine Displacement,Cylinders,Transmission,Drivetrain,Vehicle Class,Fuel Type,Fuel Barrels/Year,City MPG,Highway MPG,Combined MPG,CO2 Emission Grams/Mile,Fuel Cost/Year
Make,,,,,,,,,,,,,,
AM General,4,4,4,4,4,4,4,4,4,4,4,4,4,4
ASC Incorporated,1,1,1,1,1,1,1,1,1,1,1,1,1,1
Acura,302,302,302,302,302,302,302,302,302,302,302,302,302,302
Alfa Romeo,41,41,41,41,41,41,41,41,41,41,41,41,41,41
American Motors Corporation,22,22,22,22,22,22,22,22,22,22,22,22,22,22
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Volkswagen,1047,1047,1047,1047,1047,1047,1047,1047,1047,1047,1047,1047,1047,1047
Volvo,717,717,717,717,717,717,717,717,717,717,717,717,717,717
Wallace Environmental,32,32,32,32,32,32,32,32,32,32,32,32,32,32
Yugo,8,8,8,8,8,8,8,8,8,8,8,8,8,8
smart,20,20,20,20,20,20,20,20,20,20,20,20,20,20

Converting Grams/Mile to Grams/Km

1 Mile = 1.60934 Km

Converting Gallons to Liters

1 Gallon = 3.78541 Liters

What brand has the most cars?

In [6]:
makers = cars['Make'].value_counts()
makers
# Chevrolet is the brand with most cars, 3643 in total.

Chevrolet                             3643
Ford                                  2946
Dodge                                 2360
GMC                                   2347
Toyota                                1836
                                      ...
Excalibur Autos                          1
S and S Coach Company  E.p. Dutton       1
Environmental Rsch and Devp Corp         1
E. P. Dutton, Inc.                       1
Lambda Control Systems                   1
Name: Make, Length: 127, dtype: int64

<b>show the average CO2_Emission_Grams/Km  by Brand

In [7]:
cars["CO2 Emission Grams/Km"] = cars["CO2 Emission Grams/Mile"] * 0.621371
cars_emission = cars.groupby("Make")[["CO2 Emission Grams/Km"]].mean()
cars_emission

                             CO2 Emission Grams/Km
Make
AM General                              379.880283
ASC Incorporated                        345.132755
Acura                                   262.582266
Alfa Romeo                              288.286390
American Motors Corporation             314.263866
...                                            ...
Volkswagen                              244.038316
Volvo                                   270.795815
Wallace Environmental                   408.855922
Yugo                                    221.250488
smart                                   153.497623

[127 rows x 1 columns]

<b>show the average CO2_Emission_Grams/Km  by Brand ... sorted

In [8]:
cars_emission.sort_values(by='CO2 Emission Grams/Km', ascending=True)

                                    CO2 Emission Grams/Km
Make
Fisker                                         105.011699
smart                                          153.497623
Fiat                                           189.310965
Daihatsu                                       192.741865
MINI                                           194.934560
...                                                   ...
Laforza Automobile Inc                         502.011280
Bugatti                                        542.495719
Superior Coaches Div E.p. Dutton               552.212408
S and S Coach Company  E.p. Dutton             552.212408
Vector                                         651.917426

[127 rows x 1 columns]

# (Optional)

Use `pd.cut` or `pd.qcut` to create 4 groups (bins) of cars, by Year. We want to explore how cars have evolved decade by decade.

In [9]:
cars['Year'].describe()

count    35952.00000
mean      2000.71640
std         10.08529
min       1984.00000
25%       1991.00000
50%       2001.00000
75%       2010.00000
max       2017.00000
Name: Year, dtype: float64

In [10]:
labels = ["80's", "90's", "2000's", "2010's"]

cars['Decade'] = pd.qcut(cars['Year'], q=4, labels=labels)

cars

,Make,Model,Year,Engine Displacement,Cylinders,Transmission,Drivetrain,Vehicle Class,Fuel Type,Fuel Barrels/Year,City MPG,Highway MPG,Combined MPG,CO2 Emission Grams/Mile,Fuel Cost/Year,CO2 Emission Grams/Km,Decade
0,AM General,DJ Po Vehicle 2WD,1984,2.5,4.0,Automatic 3-spd,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,19.388824,18,17,17,522.764706,1950,324.830828,80's
1,AM General,FJ8c Post Office,1984,4.2,6.0,Automatic 3-spd,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,25.354615,13,13,13,683.615385,2550,424.778775,80's
2,AM General,Post Office DJ5 2WD,1985,2.5,4.0,Automatic 3-spd,Rear-Wheel Drive,Special Purpose Vehicle 2WD,Regular,20.600625,16,17,16,555.437500,2100,345.132755,80's
3,AM General,Post Office DJ8 2WD,1985,4.2,6.0,Automatic 3-spd,Rear-Wheel Drive,Special Purpose Vehicle 2WD,Regular,25.354615,13,13,13,683.615385,2550,424.778775,80's
4,ASC Incorporated,GNX,1987,3.8,6.0,Automatic 4-spd,Rear-Wheel Drive,Midsize Cars,Premium,20.600625,14,21,16,555.437500,2550,345.132755,80's
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
35947,smart,fortwo coupe,2013,1.0,3.0,Auto(AM5),Rear-Wheel Drive,Two Seaters,Premium,9.155833,34,38,36,244.000000,1100,151.614524,2010's
35948,smart,fortwo coupe,2014,1.0,3.0,Auto(AM5),Rear-Wheel Drive,Two Seaters,Premium,9.155833,34,38,36,243.000000,1100,150.993153,2010's
35949,smart,fortwo coupe,2015,1.0,3.0,Auto(AM5),Rear-Wheel Drive,Two Seaters,Premium,9.155833,34,38,36,244.000000,1100,151.614524,2010's
35950,smart,fortwo coupe,2016,0.9,3.0,Auto(AM6),Rear-Wheel Drive,Two Seaters,Premium,9.155833,34,39,36,246.000000,1100,152.857266,2010's
35951,smart,fortwo coupe,2016,0.9,3.0,Manual 5-spd,Rear-Wheel Drive,Two Seaters,Premium,9.417429,32,39,35,255.000000,1150,158.449605,2010's

### Did cars consume more gas in the eighties?

show the average City_Km/Liter by year_range

In [11]:
cars["City_Km/Liter"] = cars["City MPG"] * 0.425144

print(cars.groupby(["Decade"])['City_Km/Liter'].mean())

#Cars from the 80's, 90's and 2000's seem to consume almost the same amount of gas, on average...
# ...while cars from the 2010's seem to be more efficient.

Decade
80's      7.326122
90's      7.210345
2000's    7.208461
2010's    8.394453
Name: City_Km/Liter, dtype: float64

Which brands are more environment friendly?

In [12]:
cars.groupby("Make")["CO2 Emission Grams/Km"].mean().sort_values()

#Since their cars emit less CO2 per km, on average, the most environment friendly brands are Fisker, Smart and Fiat.

Make
Fisker                                105.011699
smart                                 153.497623
Fiat                                  189.310965
Daihatsu                              192.741865
MINI                                  194.934560
                                         ...
Laforza Automobile Inc                502.011280
Bugatti                               542.495719
Superior Coaches Div E.p. Dutton      552.212408
S and S Coach Company  E.p. Dutton    552.212408
Vector                                651.917426
Name: CO2 Emission Grams/Km, Length: 127, dtype: float64

Does the drivetrain affect fuel consumption?

In [13]:
cars.groupby(["Drivetrain"])["Fuel Barrels/Year"].mean().sort_values(ascending=False)

# Cars with 2-Wheel Drive seem to consume most amount of fuel, while the 2-Wheel Drive, Front ones seem to consume the least.

Drivetrain
2-Wheel Drive                 21.069467
Part-time 4-Wheel Drive       20.628218
4-Wheel or All-Wheel Drive    20.484720
Rear-Wheel Drive              19.587486
4-Wheel Drive                 17.942952
All-Wheel Drive               16.349672
Front-Wheel Drive             14.266654
2-Wheel Drive, Front          11.771786
Name: Fuel Barrels/Year, dtype: float64

Do cars with automatic transmission consume more fuel than cars with manual transmission?

In [14]:
cars["Automatic?"] = cars["Transmission"]

cars.loc[cars['Automatic?'].str.contains("Auto", "auto"), "Automatic?"] = "Automatic"
cars.loc[cars['Automatic?'].str.contains("Manual", "manual"), "Automatic?"] = "Manual"

cars.groupby(["Automatic?"])["Fuel Barrels/Year"].mean()

# Yes, automatic cars seem to consume more fuel, on average.

Automatic?
Automatic    18.043152
Manual       16.704904
Name: Fuel Barrels/Year, dtype: float64

Use `groupby` and `agg` with different aggregation measures for different columns:

aggregate with average City_Km/Liter and the count of the Trans

In [26]:
cars.groupby(["Transmission"]).agg({"Transmission":['count'], "City_Km/Liter": ['mean']})

                                 Transmission City_Km/Liter
                                        count          mean
Transmission
Auto (AV)                                   2     14.880040
Auto (AV-S6)                                1      9.353168
Auto (AV-S8)                                1      8.502880
Auto(A1)                                    1     17.430904
Auto(AM-S6)                                92     10.337469
Auto(AM-S7)                               256      7.544645
Auto(AM-S8)                                 6     10.061741
Auto(AM-S9)                                 1      8.928024
Auto(AM5)                                  12     14.313181
Auto(AM6)                                 110     10.164807
Auto(AM7)                                 157      6.907913
Auto(AM8)                                   5      9.523226
Auto(AV-S6)                               145     11.030288
Auto(AV-S7)                                63     11.883787
Auto(AV-S8)                                26      9.712905
Auto(L3)                                    2      5.952016
Auto(L4)                                    2      5.739444
Automatic (A1)                              3     14.454896
Automatic (A6)                              4      5.952016
Automatic (AM5)                             2     14.029752
Automatic (AM6)                             1      5.526872
Automatic (AV)                              4      9.246882
Automatic (AV-S6)                           9     10.061741
Automatic (S4)                            229      7.684153
Automatic (S5)                            822      7.264687
Automatic (S6)                           2631      7.796084
Automatic (S7)                            261      7.144374
Automatic (S8)                            960      7.843907
Automatic (S9)                             26      8.470177
Automatic (variable gear ratios)          675     11.674769
Automatic 3-spd                          2597      7.418656
Automatic 4-spd                         10585      6.778607
Automatic 5-spd                          2171      6.566526
Automatic 6-spd                          1432      7.108693
Automatic 6spd                              1      8.928024
Automatic 7-spd                           662      7.277540
Automatic 8-spd                           243      7.047243
Automatic 9-spd                            90      8.535947
Manual 3-spd                               74      6.049684
Manual 4-spd                             1306      7.172759
Manual 5 spd                                1      5.952016
Manual 5-spd                             7787      8.180760
Manual 6-spd                             2423      7.782785
Manual 7-spd                               68      7.746374
Manual(M7)                                  3      5.952016

aggregate with average City_Km/Liter and the minimum of the Trans

In [27]:
cars.groupby(["Transmission"]).agg({"Transmission":['min'], "City_Km/Liter": ['mean']})

,Transmission,City_Km/Liter
,min,mean
Transmission,,
Auto (AV),Auto (AV),14.880040
Auto (AV-S6),Auto (AV-S6),9.353168
Auto (AV-S8),Auto (AV-S8),8.502880
Auto(A1),Auto(A1),17.430904
Auto(AM-S6),Auto(AM-S6),10.337469
Auto(AM-S7),Auto(AM-S7),7.544645
Auto(AM-S8),Auto(AM-S8),10.061741
Auto(AM-S9),Auto(AM-S9),8.928024
Auto(AM5),Auto(AM5),14.313181
Auto(AM6),Auto(AM6),10.164807
Auto(AM7),Auto(AM7),6.907913
Auto(AM8),Auto(AM8),9.523226
Auto(AV-S6),Auto(AV-S6),11.030288
Auto(AV-S7),Auto(AV-S7),11.883787
Auto(AV-S8),Auto(AV-S8),9.712905
Auto(L3),Auto(L3),5.952016
Auto(L4),Auto(L4),5.739444
Automatic (A1),Automatic (A1),14.454896
Automatic (A6),Automatic (A6),5.952016
Automatic (AM5),Automatic (AM5),14.029752
Automatic (AM6),Automatic (AM6),5.526872
Automatic (AV),Automatic (AV),9.246882
Automatic (AV-S6),Automatic (AV-S6),10.061741
Automatic (S4),Automatic (S4),7.684153
Automatic (S5),Automatic (S5),7.264687
Automatic (S6),Automatic (S6),7.796084
Automatic (S7),Automatic (S7),7.144374
Automatic (S8),Automatic (S8),7.843907
Automatic (S9),Automatic (S9),8.470177
Automatic (variable gear ratios),Automatic (variable gear ratios),11.674769
Automatic 3-spd,Automatic 3-spd,7.418656
Automatic 4-spd,Automatic 4-spd,6.778607
Automatic 5-spd,Automatic 5-spd,6.566526
Automatic 6-spd,Automatic 6-spd,7.108693
Automatic 6spd,Automatic 6spd,8.928024
Automatic 7-spd,Automatic 7-spd,7.277540
Automatic 8-spd,Automatic 8-spd,7.047243
Automatic 9-spd,Automatic 9-spd,8.535947
Manual 3-spd,Manual 3-spd,6.049684
Manual 4-spd,Manual 4-spd,7.172759
Manual 5 spd,Manual 5 spd,5.952016
Manual 5-spd,Manual 5-spd,8.180760
Manual 6-spd,Manual 6-spd,7.782785
Manual 7-spd,Manual 7-spd,7.746374
Manual(M7),Manual(M7),5.952016